version: "3.9"

services:
  mongo:
    image: mongo:6.0
    container_name: weather-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: weather-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
  
  frontend:
    build: ./frontend
    container_name: weather-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mongo-data:
