apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: weather-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend-container
          image: samarthfunde/weather-frontend-image:58
          ports:
            - containerPort: 80
